<form [formGroup]="uploadForm" (submit)="onSubmit($event)">
    <label class="file-upload">
        <input type="file" (change)="selectImage($event)" accept="image/*" class="invisible-input"/>
        <img *ngIf="previewDataUrl" [src]="previewDataUrl" class="preview-img" />
        <span *ngIf="!previewDataUrl" class="select-button-wrapper">
            <a ion-button color="secondary">
                Select a Photo
            </a>
        </span>
    </label>
    <div class="center">
        <ion-item class="caption">
            <ion-label position="floating" color="primary">Caption</ion-label>
            <ion-input type="text" formControlName="caption" required></ion-input>
        </ion-item>
    </div>
    <div class="center">
        <ion-button
                color="primary"
                type="submit"
                [disabled]="!uploadForm.valid || !file || isUploading">
            <span *ngIf="!isUploading">Post</span>
            <span *ngIf="isUploading">Uploading...</span>
        </ion-button>
    </div>
</form>
