.photo-card{
    max-width: 500px;
    overflow: hidden;
    background: var(--ion-color-primary-contrast);
    margin: 30px;
  }

.photo-card ion-img {
  max-height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.interactive {
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.04);
    padding: 5px 15px;

    &-icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
        display: inline-block;
    }
}

.owner-name {
    color: #3880ff;
    font-weight: bold;
    padding-right: 5px;
}
