<ion-card class="photo-card" *ngIf="feedItem">
  <ion-img [src]="feedItem.url"></ion-img>
  <div class="interactive" (click)="incrementLike()">
    <ion-icon class="interactive-icon" name="thumbs-up"></ion-icon>
    <span *ngIf="feedItem.likeCount">{{feedItem.likeCount}}</span>
    <span *ngIf="!feedItem.likeCount">0</span>
  </div>
  <ion-card-content>
    <p>
      <span class="owner-name">
        {{feedItem.owner}}
      </span>
      <span class="owner-caption">
        {{feedItem.caption}}
      </span>
    </p>
  </ion-card-content>
</ion-card>
